
/* Your CSS Code here. */
table,th,td{
	 border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
}

 th {
      background-color: #f2f2f2;
    }
    td {
      padding: 8px;
    }

a{
	color: purple;
}
.black{
	background-color: black;
	color : white;
}